@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Банк клеточных культур</h1>
    <p>Система управления базы данных клеточных культур, <a href="https://docs.microsoft.com/aspnet/core">а также инструменты учета хранения.</a></p>
</div>