@{
    ViewData["Title"] = "Инструкия пользователя";
}
<h1>@ViewData["Title"]</h1>

<p>Программа представляет собой систематизированную систему хранения, обработки, и получения данных о замороженных и размороженных клетках.</p>